<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Form Create Notification">
    <meta name="author" content="Albert Barreto">

    <title>Notification Message</title>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/assets/img/logo.png" alt="" width="150" height="50">
        <h2>Notifications message</h2>
        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <h4 class="mb-3">Message</h4>
            <form class="needs-validation" action="/notifications" method="post" novalidate>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="type">Type</label>
                        <select class="custom-select d-block w-100" id="type" required>
                            <option>Recommandation</option>
                            <option>Nouveauté</option>
                            <option>Partage</option>
                            <option>Information</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid type.
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="user">User</label>
                        <select class="custom-select d-block w-100" id="user" required>
                            <option>All</option>
                            <option>Deezer</option>
                            <option>User1</option>
                            <option>User2</option>
                            <option>User3</option>
                        </select>
                        <div class="invalid-feedback">
                            Valid user is required.
                        </div>
                    </div>

                </div>

                <div class="mb-3">
                    <label for="content">Content</label>
                    <select class="custom-select d-block w-100" id="content" required>
                        <option>Album</option>
                        <option>Playlist</option>
                        <option>Track</option>
                        <option>Podcast</option>
                        <option>Utilisateur Deezer</option>
                    </select>
                    <div class="invalid-feedback">
                        Valid content is required.
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" rows="3"></textarea>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="period">Period</label>
                    <input type="number" class="form-control" id="period" required>
                    <div class="invalid-feedback">
                        Valid period is required.
                    </div>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Envoyer</button>

            </form>
        </div>
    </div>
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">Deezer copyright © 2020</p>
    </footer>
</div>
</body>
</html>
